In [51]:
import arkouda as ak
import arachne as ar

In [52]:
# NOTE: Make sure to change the server to the appropriate name.
ak.connect("n117", 5555)

connected to arkouda server tcp://*:5555

In [53]:
n = 1_000
m = 1_000_000
k = 2

In [54]:
src_array = ak.randint(0, n, m, dtype=ak.dtype('int64'), seed=2)
dst_array = ak.randint(0, n, m, dtype=ak.dtype('int64'), seed=4)
int_array = ak.randint(-1, k, m, dtype=ak.dtype('int64'), seed=6)
uint_array = ak.randint(0, k, m, dtype=ak.dtype('uint64'), seed=8)
real_array = ak.randint(0, k, m, dtype=ak.dtype('float64'), seed=10)
bool_array = ak.randint(0, k, m, dtype=ak.dtype('bool'), seed=12)
strings_array = ak.random_strings_uniform(0, k, m, characters="abcdefghijklmonpqrstuvwxyz", seed=14)
categorical_array = ak.Categorical(ak.random_strings_uniform(0, k, m, characters="abcdefghijklmonpqrstuvwxyz", seed=14))

In [55]:
prop_graph = ar.PropGraph()

In [56]:
test_edge_dict = {
    "src":src_array,
    "dst":dst_array,
    "data1":int_array,
    "data2":uint_array,
    "data3":real_array,
    "data4":bool_array,
    "data5":strings_array,
    "data6":categorical_array
}
test_edge_df = ak.DataFrame(test_edge_dict)

In [57]:
prop_graph.load_edge_attributes(test_edge_df, source_column="src", destination_column="dst", relationship_columns=["data5", "data1"])

In [58]:
prop_graph.get_edge_attributes()

        src  dst  data1  data2     data3  data4 data5 data6
0         0    1      0      1  0.033119  False
1         0    4      0      0  1.612780   True
2         0    7     -1      0  0.779747  False     G     G
3         0    9     -1      0  0.884641   True     M     M
4         0   12     -1      1  1.862986  False
...     ...  ...    ...    ...       ...    ...   ...   ...
631857  999  993      0      0  1.060557   True
631858  999  996      1      1  0.352375   True
631859  999  997      1      0  0.945882  False
631860  999  998      1      1  1.484633  False
631861  999  999      1      1  0.958656   True     G     G (631862 rows x 8 columns)

In [59]:
prop_graph.get_edge_relationships()

        src  dst data5  data1
0         0    1            0
1         0    4            0
2         0    7     G     -1
3         0    9     M     -1
4         0   12           -1
...     ...  ...   ...    ...
631857  999  993            0
631858  999  996            1
631859  999  997            1
631860  999  998            1
631861  999  999     G      1 (631862 rows x 4 columns)

In [60]:
print(type(prop_graph.edge_attributes["data5"]))

<class 'arkouda.categorical.Categorical'>

In [61]:
# prop_graph.add_edges_from(src_array,dst_array)

In [62]:
m = len(prop_graph)
k = 2

In [63]:
int_array = ak.randint(-1, k, m, dtype=ak.dtype('int64'), seed=6)
uint_array = ak.randint(0, k, m, dtype=ak.dtype('uint64'), seed=8)
real_array = ak.randint(0, k, m, dtype=ak.dtype('float64'), seed=10)
bool_array = ak.randint(0, k, m, dtype=ak.dtype('bool'), seed=12)
strings_array = ak.random_strings_uniform(0, k, m, characters="abcdefghijklmonpqrstuvwxyz", seed=14)
categorical_array = ak.Categorical(ak.random_strings_uniform(0, k, m, characters="abcdefghijklmonpqrstuvwxyz", seed=14))

In [64]:
test_node_dict = {
    "nodes":prop_graph.nodes(),
    "data1":int_array,
    "data2":uint_array,
    "data3":real_array,
    "data4":bool_array,
    "data5":strings_array,
    "data6":categorical_array
}
test_node_df = ak.DataFrame(test_node_dict)

In [65]:
prop_graph.load_node_attributes(test_node_df, node_column="nodes", label_columns=["data5", "data2"])

In [66]:
prop_graph.get_node_attributes()

     nodes  data1  data2     data3  data4 data5 data6
0        0      0      0  0.638154  False     B     B
1        1      0      0  1.366654  False     L     L
2        2      0      1  0.887981   True     N     N
3        3     -1      0  1.219599  False
4        4      1      0  1.191131   True     Q     Q
..     ...    ...    ...       ...    ...   ...   ...
995    995      1      1  0.253123  False
996    996     -1      1  0.924143   True     B     B
997    997      0      1  1.303909  False
998    998     -1      0  1.732572   True
999    999     -1      0  1.904719   True             (1000 rows x 7 columns)

In [67]:
prop_graph.get_node_labels()

     nodes data5  data2
0        0     B      0
1        1     L      0
2        2     N      1
3        3            0
4        4     Q      0
..     ...   ...    ...
995    995            1
996    996     B      1
997    997            1
998    998            0
999    999            0 (1000 rows x 3 columns)

In [68]:
def node_filter(node_attributes):
    return node_attributes["data2"] == 0

In [69]:
def edge_filter(edge_attributes):
    return edge_attributes["data1"] > -1

In [70]:
subgraph_nodes = prop_graph.subgraph_view(filter_node=node_filter)

In [71]:
subgraph_edges = prop_graph.subgraph_view(filter_edge=edge_filter)

In [72]:
subgraph_together = prop_graph.subgraph_view(filter_node=node_filter, filter_edge=edge_filter)

In [73]:
print(f"Subgraph generated with edge size: {subgraph_nodes.size()}")

Subgraph generated with edge size: 467134

In [74]:
print(f"Subgraph generated with edge size: {subgraph_edges.size()}")

Subgraph generated with edge size: 420930

In [75]:
print(f"Subgraph generated with edge size: {subgraph_together.size()}")

Subgraph generated with edge size: 100891